<a href="https://colab.research.google.com/github/jpantojaj/Credit_Scoring_Specialization/blob/main/Sesi%C3%B3n_2_PythonFastTrack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Operaciones Básicas

In [ ]:
p1=500
print(p1)
p1

500

500

**estamos** **practicando**

In [ ]:
p2=200.5
p2

200.5

In [ ]:
print(type(p1))
print(type(p2))

<class 'int'>
<class 'float'>

In [ ]:
w=int(p2)

In [ ]:
w

200

In [ ]:
a = 5
a = a + 1
a

6

In [ ]:
a+=1
a

7

In [ ]:
p=5
q=200
total=p*q
total

1000

In [ ]:
total/p

## Print

In [ ]:
x = "Curso de Backtesting y Strees Testing"
print(x)
print(type(x))
len(x)

Curso de Backtesting y Strees Testing
<class 'str'>

37

In [ ]:
print("Me interesa el {} en este ciclo".format(x))

Me interesa el Curso de Backtesting y Strees Testing en este ciclo

In [ ]:
y="2020-II"

In [ ]:
print("Me interesa el {} en este ciclo {}".format(x, y))

Me interesa el Curso de Backtesting y Strees Testing en este ciclo 2020-II

## Input

In [ ]:
nombre = input("Bienvenido al curso, Cuál es tu nombre?: ")
print('Hola', nombre)

Bienvenido al curso, Cuál es tu nombre?: JJ
Hola JJ

In [ ]:
nombre = input("Bienvenido al curso, ingresa tu nombre: ")
edad = input("Ingresa tu edad: ")
print("Mi nombre es {}, tengo {} años".format(nombre,edad))

Bienvenido al curso, ingresa tu nombre: JIOHNNY
Ingresa tu edad: 40
Mi nombre es JIOHNNY, tengo 40 años

In [ ]:
p = input("Ingresa el precio: ")
p=int(p)
q = input("Ingresa la cantidad: ")
q=int(q)
print('El total de la cuenta es: {}'.format(p*q))

Ingresa el precio: 10
Ingresa la cantidad: 2
El total de la cuenta es: 20

## Tipos de Datos

### Booleanos

In [ ]:
e=True
e

True

In [ ]:
p=100
q=200
p<q  #podemos probar con < y >

True

### Listas (List)

In [ ]:
lista = [1, 2, 3]
lista

[1, 2, 3]

In [ ]:
type(lista)

list

In [ ]:
lista = [2, "google", 5]
lista

[2, 'google', 5]

In [ ]:
lista = ["google", [3, 6, 7]]
lista

['google', [3, 6, 7]]

In [ ]:
lista = [2, "google", 5]
lista[2] #pueden jugar con las posiciones, solo recordar que la posición inicial arranca en 0

5

In [ ]:
lista = ["google", [3, 6, 7], ["amazon", 5, 6]]
lista[2][0] #referencia la posición dentro de una lista y luego la que esta dentro del elemento lista

'amazon'

In [ ]:
type(lista) #ver los tipos

list

In [ ]:
lista[-1][2] #negativos arranca desde la última posición

6

In [ ]:
lista = [2, 5, 7, "GOOG", "SP500", "AMZN", 15]
lista[3:5]

['GOOG', 'SP500']

In [ ]:
lista[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [ ]:
len(lista)

7

### Diccionarios (Dictionary)

In [ ]:
dic = {'key1':'value1',
       'key2':'value2',
       'key3':'value3'}

In [ ]:
type(dic)

dict

In [ ]:
dic["key1"]

'value1'

In [ ]:
type(dic["key1"])

str

In [ ]:
dic2 =  {"key1": 1500,
         "key2": 1000,
         "key3": 2000}
dic2

{'key1': 1500, 'key2': 1000, 'key3': 2000}

In [ ]:
dic2["key3"]

2000

In [ ]:
dic2["key4"]=1800
dic2

{'key1': 1500, 'key2': 1000, 'key3': 2000, 'key4': 1800}

In [ ]:
del dic2["key4"]
dic2

{'key1': 1500, 'key2': 1000, 'key3': 2000}

In [ ]:
del dic2 #borramos esta variable
dic2

NameError: name 'dic2' is not defined

### Cadenas (String)

In [ ]:
nombre = "Johnny"
apellido = "Pantoja"
nombre_completo = nombre +" "+ apellido
nombre_completo

'Johnny Pantoja'

In [ ]:
nombre_completo.lower() #probar con lower

'johnny pantoja'

In [ ]:
v=nombre_completo.split() #probar asignándolo a una variable
v

['Johnny', 'Pantoja']

In [ ]:
type(v)

list

In [ ]:
v[1]

'Pantoja'

In [ ]:
c = 'johnny.pantoja@gmail.com'
z = c.split('@')
z

['johnny.pantoja', 'gmail.com']

In [ ]:
type(z)

list

### Tuplas (Tuple)

In [ ]:
tuple_1 = ('google', 'amazon', 10, 15, 1992);
tuple_2 = (450, 55, 977, 2100);

In [ ]:
tuple_1[-1] #probar las opciones

1992

In [ ]:
tuple_1[1:3] #probar con diferentes opciones de filetear la tupla

('amazon', 10)

In [ ]:
tuple_1[1]='facebook'

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple_3=tuple_1+tuple_2
tuple_3

('google', 'amazon', 10, 15, 1992, 450, 55, 977, 2100)

### Collecciones (Sets)

In [ ]:
set_1 = {'GOOG', 'APPL', 'T','TSLA','T','APPL'}
set_1
type(set_1)

set

In [ ]:
set_1

{'APPL', 'GOOG', 'T', 'TSLA'}

In [ ]:
lista = ['GOOG', 'APPL', 'T','TSLA','T','APPL', 5, 6, 5]
lista2 = list(set(lista))
lista2

[5, 'APPL', 6, 'TSLA', 'GOOG', 'T']

In [ ]:
type(lista2)

list

### Operadores de Comparación

In [ ]:
s1 = 1000
s2 = 1000
s1 == s2 #probar con < , > , <= , >= , !=

True

### Operadores Lógicos

In [ ]:
True or False  #probar diferentes combinaciones con and y or

True

In [ ]:
(10>3) and (9==3)

False

In [ ]:
(9>3) or (12==10)

True

### Sentencias Condicionales

In [ ]:
if 10 > 9:  #probemos con diferentes operadores
    print('Verdadero')
else:
    print('Falso')

Verdadero

In [ ]:
if 5 > 7:
    print('Verdadero')
elif 2 > 4:
    print('Falso')
else:
    print('Ninguno')

Ninguno

In [ ]:
nombre = input('Ingresa tu nombre:')
if nombre.lower() == 'johnny':  #probar con variantes upper() , lower()
    print("Acceso Otorgado")
else:
    print("Acceso denegado")

Ingresa tu nombre:JJ
Acceso denegado

In [ ]:
nombre = input('Ingresa tu nombre/apellido:')
if nombre == 'Johnny' or nombre =='Pantoja':
    print("Acceso Otorgado")
else:
    print("Acceso Denegado")

Ingresa tu nombre/apellido:TT
Acceso Denegado

## BUCLES

### FOR

In [ ]:
lista = [1, 2, 3, 4, 5]

In [ ]:
for i in lista:
    print(i)

1
2
3
4
5

In [ ]:
for i in lista:
    print(i)
    print('Hola')

1
Hola
2
Hola
3
Hola
4
Hola
5
Hola

### RANGE

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [ ]:
for i in range(1, 20, 3): #probar también con decrecimientos
    print(i)

1
4
7
10
13
16
19

### WHILE

In [ ]:
i = 0
while i <=8:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8

### BREAK / CONTINUE

In [ ]:
lista

[1, 2, 3, 4, 5]

In [ ]:
for i in lista:
    print(i)
    if i == 3:
        break

1
2
3

In [ ]:
for i in lista:
    if i%2 == 0:
        continue
    print(i)

1
3
5

### BUCLES ANIDADOS

In [ ]:
for x in range(1,3):
    for y in range(1, 4):
        print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

In [ ]:
color = ['black', 'white', 'gold']
equipo = ['iphone', 'samsung', 'blackberry']
for i in color:
    for j in equipo:
        print(i, j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

### LISTAS BASADAS EN LISTAS

In [ ]:
input_list = [1, 2, 3, 4]
output_list = []
for element in input_list:
    output_list.append(element**2)
output_list

[1, 4, 9, 16]

In [ ]:
output_list=[i ** 2  for i in input_list]
output_list

[1, 4, 9, 16]

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []
for i in input_list:
    if i % 2==0:
        output_list.append(i**2)
output_list

[4, 16, 36, 64, 100]

In [ ]:
output_list = [i**2  for i in input_list if i%2 == 0]
output_list

[4, 16, 36, 64, 100]

### FUNCIONES

In [ ]:
def func1():
    print('Hola')

In [ ]:
func1()

In [ ]:
def squared(x):
    return x ** 2

In [ ]:
squared(5)

In [ ]:
def func2(x):
    print("Mi portafolio es de {} soles".format(x))

In [ ]:
func2(2000)

### EXPRESIONES LAMBDA

In [ ]:
y = lambda x:x**2

In [ ]:
def cuadrado_x(x):
  return x**2

In [ ]:
cuadrado_x(3)

In [ ]:
y(3)

In [ ]:
def suma(x, y, z):
    return x+y+z

In [ ]:
suma(3,5,7)

In [ ]:
suma2 = lambda x, y, z : x+y+z

In [ ]:
suma2(3,5,7)

### FILTROS

In [ ]:
precios = [105, 5055, 40, 356, 923, 1443, 222, 62]

In [ ]:
out = list(filter(lambda x: (x % 2 == 0),precios))
out

In [ ]:
out = list(filter(lambda x: (x>=100),precios))
out

In [ ]:
out = list(filter(lambda x: (x>=200 and x<=250),precios) )
out

# NUMPY
### Es una librería de álgebra lineal usada para array multidimensionales

In [ ]:
import numpy as np
my_list = [10, 20, 50, 60, 70]
my_list

In [ ]:
x = np.array(my_list)
x

In [ ]:
type(x)

In [ ]:
matrix = np.array([[5, 8], [9, 13]])
matrix

In [ ]:
type(matrix)

### Funciones y Métodos

In [ ]:
x = np.random.rand(10) #distribución uniforme
x

In [ ]:
x = np.random.rand(5, 5)
x

In [ ]:
x = np.random.randn(10) #distribución normal
x

In [ ]:
x = np.random.randint(1, 10)
x

In [ ]:
x = np.random.randint(1, 100, 15)
x

In [ ]:
x = np.arange(1, 50)
x

In [ ]:
x = np.arange(1, 50, 5)
x

In [ ]:
x = np.eye(5)
x

In [ ]:
x = np.ones(5)
x

In [ ]:
x = np.ones((5,5))
x

In [ ]:
x = np.zeros(10)
x

### SHAPE, LENGTH, TYPE, RESHAPE, MAX/MIN

In [ ]:
lista = [-30, 4, 50, 60, 29, 15, 22, 90]
x = np.array(lista)
x

In [ ]:
len(x)

In [ ]:
x.shape

In [ ]:
x[1:5]

In [ ]:
matrix

In [ ]:
matrix.dtype

In [ ]:
matrix.shape

In [ ]:
x

In [ ]:
z = x.reshape(2,4)
print(x)
print(z)

In [ ]:
x.max()

In [ ]:
x.min()

In [ ]:
x.argmax()

In [ ]:
x.argmin()

### Operaciones Matemáticas

In [ ]:
x = np.arange(1, 10)
x

In [ ]:
y = np.arange(1, 10)
y

In [ ]:
np.sqrt(4)

In [ ]:
x**2

In [ ]:
np.sqrt(x**2)

In [ ]:
z = np.exp(y)
z

### Particiones e Indices

In [ ]:
x = np.array([20, 40, 50, 21, 15])
x

In [ ]:
x[2:4]

In [ ]:
x[0:2] = 10
x

In [ ]:
matrix = np.random.randint(1,10, (5, 5))
matrix

In [ ]:
matrix[2]

In [ ]:
matrix[0][2]

In [ ]:
mini_matrix = matrix[:3]
mini_matrix

In [ ]:
mini_matrix = matrix[2:]
mini_matrix

In [ ]:
mini_matrix = matrix[:, :2]
mini_matrix

In [ ]:
mini_matrix = matrix[:, 2:]
mini_matrix

### Selección de elementos (condicionales)

In [ ]:
matrix = np.random.randint(1,10, (5, 5))
matrix

In [ ]:
new_matrix = matrix[matrix>3]
new_matrix

In [ ]:
new_matrix = matrix[matrix%2==0]
new_matrix

# PANDAS
### Pandas en una herramienta de manipulación, que usa una estrutctura de datos conocida como DataFrame

In [ ]:
import pandas as pd

In [ ]:
my_list = ['AAPL','AMZN','T']
my_list

In [ ]:
label   = ['stock#1', 'stock#2', 'stock#3']
label

In [ ]:
type(my_list)

In [ ]:
type(label)

In [ ]:
x_series = pd.Series(data = my_list, index = label)
x_series

In [ ]:
x_series.shape

In [ ]:
type(x_series)

In [ ]:
bank_client_df = pd.DataFrame({'Bank client ID':[111, 222, 333, 444],
                               'Bank Client Name':['Chanel', 'Steve', 'Mitch', 'Ryan'],
                               'Net worth [$]':[3500, 29000, 10000, 2000],
                               'Years with bank':[3, 4, 9, 5]})
bank_client_df

In [ ]:
type(bank_client_df)

In [ ]:
bank_client_df.head() #se puede jugar con los argumentos y cambian las filas observadas

In [ ]:
bank_client_df.tail(2)  #se puede jugar con los argumentos y cambian las filas observadas

In [ ]:
df_loyal = bank_client_df[(bank_client_df['Years with bank'] >= 5) ]
df_loyal

In [ ]:
del bank_client_df['Bank client ID']
bank_client_df

In [ ]:
def valor(x):
    return x * 1.1

In [ ]:
bank_client_df['Net worth [$]'].apply(valor)

In [ ]:
bank_client_df

In [ ]:
bank_client_df['Net worth [$]']=bank_client_df['Net worth [$]'].apply(valor)
bank_client_df

In [ ]:
bank_client_df['Bank Client Name'].apply(len)

In [ ]:
bank_client_df['Years with bank'].sum()

In [ ]:
bank_client_df.sort_values(by = 'Years with bank')

In [ ]:
bank_client_df

In [ ]:
bank_client_df.sort_values(by = 'Years with bank', inplace = True)

In [ ]:
bank_client_df

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},index=[4, 5, 6, 7])
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},index=[8, 9, 10, 11])
df3

In [ ]:
pd.concat([df1, df2, df3])

In [ ]:
raw_data = {'Bank Client ID': ['1', '2', '3', '4', '5'],
            'First Name': ['Nancy', 'Alex', 'Shep', 'Max', 'Allen'],
            'Last Name': ['Rob', 'Ali', 'George', 'Mitch', 'Steve']}
Bank_df_1 = pd.DataFrame(raw_data, columns = ['Bank Client ID', 'First Name'])
Bank_df_1

In [ ]:
raw_data = {
        'Bank Client ID': ['6', '7', '8', '9', '10'],
        'First Name': ['Bill', 'Dina', 'Sarah', 'Heather', 'Holly'],
        'Last Name': ['Christian', 'Mo', 'Steve', 'Bob', 'Michelle']}
Bank_df_2 = pd.DataFrame(raw_data, columns = ['Bank Client ID', 'First Name'])
Bank_df_2

In [ ]:
raw_data = {
        'Bank Client ID': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        'Annual Salary [$/year]': [25000, 35000, 45000, 48000, 49000, 32000, 33000, 34000, 23000, 22000]}
bank_df_salary = pd.DataFrame(raw_data, columns = ['Bank Client ID','Annual Salary [$/year]'])
bank_df_salary

In [ ]:
bank_df_all = pd.concat([Bank_df_1, Bank_df_2])
bank_df_all

In [ ]:
bank_df_all = pd.merge(bank_df_all, bank_df_salary, on = 'Bank Client ID')
bank_df_all